.button_secondary {
  background-color: rgb(44, 102, 147);
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  width: 100%;
}

.button_secondary:hover {
  background-color: #30758d;
  color: white;
}

.button_secondary_disabled {
  background-color: #808080;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.button_secondary_del {
  background-color: red;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.button_secondary_del:hover {
  background-color: darkred;
  color: white;
}

.button_secondary_del_disabled {
  background-color: #808080;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
}

.row{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}