.clear_button_container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.form_container {
  display: flex;
  /*width: 600px;*/
  margin: 5px auto;
  padding: 25px;
  background: white;
  border-radius: 40px;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.form {
  font-family: "Open Sans Condensed", arial, sans;
  /*display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 3px auto;
  /*margin: 3px auto;*/
}

.form input[type="date"],
.form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin: 5px;
  font: 16px Arial, Helvetica, sans-serif;
  height: 30px auto;
}

.form input[type="number"]{
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.errormsg {
  text-align: center;
  color: red;
}

.loader_position{
  text-align: center;
  padding-top: 5px;
}