.row {
    display: flex;

}

.row + .row {
    margin-top: 16px;
}

.title {
    width: 200px;
}
.card {
    max-width: 30%;
    padding: 30px;

}

.surname {
    flex-grow: 1;
    margin-right: 8px;
}

.firstname {
    flex-grow: 1;
}

.email {
    width: 200px;
}
.button {
    display: flex;
    justify-content: center;
}